table { background-color: indigo;
font-size:1.2em; }

input[type="text"]{ /*селектор атрибута*/
	background-color:rgba(255,255,255,.5) ;
	box-shadow: inset 0 0 10px rgba(255,255,255, .75);
}
textarea{background-color:rgba(255,255,255,.5) ;
	box-shadow: inset 0 0 10px rgba(255,255,255, .75);
}
button {
	background-color:navy ;
	box-shadow:0 0 4px white ;

}
input[type="text"]:focus,/*псевдокласс исп. когда наводим*/
textarea:focus {

    background-color: white;    
    color: black;              
    
}